files:
    "/sbin/appstart":
        mode: "000755"
        owner: webapp
        group: webapp
        content: |
            #!/usr/bin/env bash
            JAR_PATH=/var/app/current/application.jar

            # 로그 디렉토리 지정
            LOG_DIR=/var/app/current/logs

            sudo mkdir -p "$LOG_DIR" # 경로 없으면 생성
            sudo chown -R webapp:webapp "$LOG_DIR" # 디렉토리 및 하위 파일의 소유권을 webapp 사용자 및 그룹으로 변경.
            sudo chmod -R 755 "$LOG_DIR"  # 디렉토리 및 파일 접근 권한 설정

            # run app
            killalljava
            java \
              -Dfile.encoding=UTF-8 \
              -Dspring.profiles.active=develop \
              -jar "$JAR_PATH"